[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "tor"]
	path = tor
	url = https://github.com/maurolepore/tor
	shallow = true
	registered = true
