[submodule ".registry"]
	path = .registry
	url = https://github.com/maurolepore/maurolepore.r-universe.dev
	branch = HEAD
[submodule "dchunkr"]
	path = dchunkr
	url = https://github.com/maurolepore/dchunkr
